
/* FONT DEFINITIONS */

@font-face {
    font-family: Venti-Bold;
    src: url("../fonts/Venti/VentiCF-Bold.otf") format("opentype");
}

@font-face {
    font-family: Venti-Medium;
    src: url("../fonts/Venti/VentiCF-Medium.otf") format("opentype");
}

@font-face {
    font-family: Venti-Bold-Obl;
    src: url("../fonts/Venti/VentiCF-BoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Venti-Thin;
    src: url("../fonts/Venti/VentiCF-Thin.otf") format("opentype");
}

/* STYLE */

body{
    background-color: white;
    margin-bottom: 70px;
}

ul{
    list-style-type: none;
}

#head{
    margin-top: 40px;
}

#head #name{
    font-family: 'Venti-Bold';
    font-size: 25px;
    color: #424242;
}

#head #slash{
    font-family: 'Venti-Medium';
    font-size: 30px;
    color: #FDD835;
}

#head #description{
    font-family: 'Venti-Medium';
    font-size: 25px;
    color: #424242;
    float: right;
}

#main-list{
    margin-top: 200px;
    color: #424242;
}

#main-list-head{
    font-family: 'Venti-Bold';
    font-size: 70px;
}

.main-list-item{
    font-family: 'Venti-Medium';
    font-size: 20px;
    margin-bottom: -1px;
}

#seperator{
    background-color: #FDD835;
    border-radius: 2px;
    margin-top: -23px;
    width: 90%;
    height: 8px;
    float: left;
}

#who{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Venti-Bold';
    font-size: 25px;
    color: #424242;
}

.blurb{
    font-family: 'Venti-Medium';
    font-size:20px;
    padding-left: 60px;
    /*padding-right: 20px;*/
}

.image{
    padding-top: 10px;
    padding-left: 60px;
}

#what{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Venti-Bold';
    font-size: 25px;
    color: #424242;
}

.obl{
    font-family: 'Venti-Bold-Obl'
}

.project-tile{
    margin-bottom: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #FDD835;

    text-align: center;

    height: 100px;

    background-color: #FDD835;

    font-family: 'Venti-Medium';
    font-size: 25px;
    color: #424242;
    padding-top: 70px;
}

.project-tile:hover{
    margin-bottom: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #FDD835;

    text-align: center;

    height: 100px;

    background-color: white;

    font-family: 'Venti-Medium';
    font-size: 25px;
    color: #424242;
    padding-top: 70px;
}

#contact{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: 'Venti-Bold';
    font-size: 25px;
    color: #424242;
}

.message{
    font-family: 'Venti-Medium';
    font-size:20px;
}

.hidden{
    display: none;
}
